body{
  font-family: 'Roboto', sans-serif;
}

.first{
  background-color: #e0dede;
}

.second{
  background-color: #f5f5f5;
}

.third{
  background-color: #faeee7;
}

.fourth{
  background-color: #dae1e7;
}

.fifth{
  background-color: #f6d198;
}

.sixth{
  background-color: #d2c6b2;
}

.seventh{
  background-color: #dbdbdb;
}

.eighth{
  background-color: #ffff;
}

.nineth{
  background-color: #f8fab8;
}
